.App {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.App ul li.done .text {
  text-decoration: line-through;
}

.App ul li .delete {
  color: red;
  margin-left: 0.5em;
  cursor: pointer;
}
